<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <IsTestMail>1</IsTestMail>
  <MailID>supraj@prayogis.in</MailID>
  <IsWebMail>False</IsWebMail>
  <UseDefaultCredential>False</UseDefaultCredential>
  <Host>smtp.zoho.com</Host>
  <SMTPPassword></SMTPPassword>
  <EnableSSLMail>true</EnableSSLMail>
  <SMTPPort>465</SMTPPort>
  <bangalore>-2128833038</bangalore>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
  <IsTestMail>1</IsTestMail>
</Configuration>
