@model BAG.CustomObject.Profile
    <hr>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default panelborder">
                        <div class="panel-heading" style="background-color: #da4d4d;">
                            <span class="pull-left pclor"><i class="fa fa-fw fa-info-circle"></i>&nbsp;Forgot Password ?</span>
                            <br />
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <div class="panel-body">
                                    @using (Ajax.BeginForm("Send_Pwd_rest_Link", "Account", null, new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "resultTarget"
                                    }, new { id = "ForgotPwdId" }))
                                    {
                                        <div id="resultTarget" class="input-group col-md-12 text-center"></div>
                                        <div class="form-group">
                                            <div class="input-group col-md-12">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                @Html.TextBoxFor(model => model.Email_Id, new { @class = "form-control", @onkeypress = "return EnableKeys(4,event);", @maxlength = "100", @placeholder = "Your Email-Id" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="text-center col-md-12">
                                                <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Send My password</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
