@model BAG.CustomObject.ProfileSecurity

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Change Password</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li>
                        <a href='@Url.Action("Index", "Home")'>Home</a>
                    </li>
                    <li>Change Password</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="panel panel-default" style="border: 2px solid #da4d4d;">
                <div class="panel-heading" style="background-color: #da4d4d;">
                    <h3 class="panel-title redtext">
                        <span class="pull-left"><i class="fa fa-fw fa-user"></i>&nbsp;Welcome User</span><a href="#" data-toggle="modal" data-target="#Announcement">
                            <br />
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                        <div class="col-md-12 shadow">
                            <div class="panel panel-default" style="border:2px solid whitesmoke;">

                                <div class="panel-heading" id="btnresponsive" style="background-color:whitesmoke; color:black;padding-bottom:30px;">

                                    <div class="col-md-6 col-md-offset-0">
                                        <h2 class="panel-title texttrans ">
                                            <span class="fontstyle pull-left">Reset Password</span><a href="#" data-toggle="modal" data-target="#Announcement">
                                            </a>
                                        </h2>
                                    </div>
                                </div>


                                <div class="panel-body" style="background-color:whitesmoke;">
                                    @using (Ajax.BeginForm("Reset_Password", "Account", null, new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "resultTarget",
                                    }, new { id = "RegisterId" }))
                                    {
                                        <div id="custom-search-inputb ">
                                            <div class="form-group col-md-offset-3 col-md-5">
                                                @Html.TextBoxFor(model => model.New_Password, new { @class = "form-control", @type = "password", @maxlength = "50", @placeholder = "New Password" })
                                            </div>
                                        </div>
                                        <div id="custom-search-inputb ">
                                            <div class="form-group  col-md-offset-3 col-md-5">
                                                @Html.TextBoxFor(model => model.Conf_New_Password, new { @class = "form-control", @type = "password", @maxlength = "50", @placeholder = "Confirm New Password" })
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.Usr_Id, new {@value=@Model.Usr_Id })
                                        <div class="col-md-12 text-center" id="resultTarget"></div>
                                        <div class="col-md-12 text-center" id="register-submit" style="position:relative;top:10px;">
                                            <button type="submit" onclick="return ResetPassword();" class="btn btn-primary btn-md">Save Changes</button>
                                            <button type="button" class="btn btn-default buttoncolor">Cancel</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
